<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{{ site.description }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <!-- Custom CSS -->
    
    <!-- the following snippet creates a variable called depth based on the number of depth-levels in the url. Then the link for the css iterates through the depth -->
    {% assign depth = page.url | split: '/' %}
    
    <link rel="stylesheet" href="{% for item in depth %}{{ '../' }}{% endfor %}{{ 'css/main.css' }}">
    
    	


</head>
