---
layout: default
---

<div class="home">

  <h1>Posts</h1>

  <ul class="posts">
    {% for post in site.posts %}
      <li>
        <span class="post-date">{{ post.date | date: "%b %-d, %Y" }}</span>
        
    <!-- Custom -->
    
    <!-- the following snippet creates a variable called depth based on the number of depth-levels in the url. This then helps create a link for the posts on the site -->
        <a class="post-link" href="{% assign depth = page.url | split: '/' %}{% for item in depth %}{{ '../' }}{% endfor %}{{ post.url }}">{{ post.title }}</a>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>


</div>
